.card__delete {
    background-image: url(../../../images/Trash.svg);
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    border: 0;
    width: 18px;
    height: 19px;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 249px;
}

.card__delete:hover {
    opacity: 0.6;
}