.gallery {
    margin-top: 51px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px;
}
@media screen and (max-width: 920px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
    }
}
@media screen and (max-width: 620px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        margin-top: 36px;
    }
}